footer {
  height: 90px;
  color: black;
  align-items: center;
  font-size: 13px;
  text-align: center;
}
footer p a {
  font-weight: bold;
  text-decoration: none;
}
footer .media{
  display: flex;
  justify-content: space-around;
}
footer .media a {
  color: black;
  font-weight: bold;
}
