body {
  margin: 0;
  top: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.App{
  background-color: #f0f2f5;
}
.app-pages{
  padding-inline: 150px;
}



@media (max-width: 768px) {
  .app-pages{
    padding-inline: 25px;
  }
}
